**/backup
106_html
backup
/010_manannot/features/backup
/010_manannot/profiles/backup
/106_html
**/.env
/080_scripts_generic/vicav_zotero/fetch_generated_tei_and_process.py
/080_scripts_generic/vicav_zotero/export_grouplib.json
/080_scripts_generic/vicav_zotero/TEI_export.xml
/080_scripts_generic/vicav_zotero/errors.json
/080_scripts_generic/vicav_zotero/.ipynb_checkpoints
