
body { font-size: 14pt; }

p {
margin-top: 5px;
margin-bottom: 5px;
}

table {
border: 6px ridge rgb(189,189,255);
border-collapse: separate;
background: rgb(237,234,255);
font-size: 14pt;
border-spacing: 0px;
}

td {
border-collapse: collapse;
border: 1px dotted black;
padding-left: 2px;
vertical-align: top;
with: 100%;
}

.dvU {
border: 1px ridge rgb(189,189,255);
margin-top: 5px;
margin-bottom: 5px;
}


.featureRealisation {
border: 1px ridge rgb(189,189,255);
background: rgb(255,255,206);
color: red;
margin-bottom: 2px;
}

.tdLeft {
width: 100px;
background: rgb(255,144,107);
color: rgb(0,0,214);
font-weight:bold;
text-align: right;
padding-right:5px;
}

.tdRight {
width: 700px;
color: rgb(0,37,148);
padding-left:5px;
}

.spError {
color: red;
font-weight:bold;
}
