
body { font-size: 14pt; }

p {
margin-top: 5px;
margin-bottom: 5px;
width: 700px;
}

table {
border: 6px ridge rgb(189,189,255);
border-collapse: separate;
background: rgb(237,234,255);
font-size: 14pt;
width: 700px;
border-spacing: 0px;
}

td {
border-collapse: collapse;
border: 1px dotted black;
padding-left: 2px;
vertical-align: top;
}

.spArrow {
font-size:20pt;
}

.spHiddenLink {
text-decoration: none !important;
}

.spExampleNote {
font-style: italic;
}

.spTranslation {
font-style: italic;
color:rgb(255,132,8);
}

.frTable {
margin-bottom: 5px;
}

.tdHead {
border: 1px ridge rgb(189,189,255);
background: rgb(255,255,206);
color: rgb(99,177,255);
font-weight:bold;
margin-bottom: 2px;
width: 150px;
text-align: right;
padding-right: 3pt;
}

