[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nbconvert = "*"
pandas = "*"
saxonpy = "==0.0.2"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.8"
