[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
nbconvert = "*"
pandas = "*"
lxml = "*"
saxonpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
