[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
nbconvert = "*"
multiprocess = "*"
aiohttp = "*"
nest-asyncio = "*"
jupyterlab = "*"
pexpect = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
